body{
    background: black;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
    color: white;
    margin:0px
  }
  
  .menu{
    text-align:center; 
    margin-top:10px;
    background: grey

  }
  li{
    padding-right:40px;
    display:inline;
    position: right;
    ;
    
  }
  a{
    color:white;
    padding:10px;
    text-decoration:none;
  }
  a:hover{
    border-top:3px solid white;
    color:white;
  }
  .imag{
    width: 20px;
    position: center;
}
.section{
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 0px;
    margin-right: 60px; 
}
.tit{
    text-align: center;
}